[submodule "spreadsheet_parser"]
	path = spreadsheet_parser
	url = https://github.com/mbradac/spreadsheet_parser
[submodule "directory_tree_builder"]
	path = directory_tree_builder
	url = https://github.com/mbradac/directory_tree_builder
[submodule "zadaci-search"]
	path = zadaci-search
	url = https://github.com/agrbin/zadaci-search
