{% extends 'html/base.html' %}
{% block title %}
HSIN arhiva - {{ data_manager.get_contest_full_name(name) }} {{ year }}
{% endblock %}

{% block content %}

<h2>{{ data_manager.get_contest_full_name(name) }} {{ year }}</h2>

{% for contest in rounds %}
{% set round_name = data_manager.get_round_full_name(name, contest.round) %}
{% if round_name != '' %}
<h3>{{ round_name }}</h3>
{% endif %}
<table class="tasks">
  <tr>
    <td class="h">#</td>
    <td class="h">Zadatak</td>
    <td class="h" colspan="2">Akcije</td>
  </tr>
{% for task in data_manager.tasks_in_contest(contest) %}
  <tr>
    <td>{{ loop.index }}</td>
    <td>{{ task.name }}</td>
    <td><a href="submit.html#{{ dir_manager.task_path(task)[2:] }}">submit</a></td>
    <td><a href="{{ dir_manager.task_pdf_path(task) }}">tekst</a></td>
    </td>
  </tr>
{% endfor %}
</table>
{% endfor %}

{% endblock %}
