{% extends 'html/base.html' %}
{% block title %}
HSIN arhiva - Zadaci
{% endblock %}

{% block content %}
  <h2>Zadaci</h2>

  {% for name, years in contest_years.iteritems() %}
  <h3>{{ data_manager.get_contest_full_name(name, True) }}</h3>
  <table class="years">
    {% set year_min = (years|sort|first)//10*10    %}
    {% set year_max = (years|sort|last)//10*10+10 %}
    {% for yearRow in range(year_min, year_max)|batch(10) %}
    <tr>
      {% for year in yearRow %}
      <td>
      {% if year in years %}
        <a href="contests/{{ name }}_{{ year }}.html">{{ year }}</a>
      {% else %}
        -
      {% endif %}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
  {% endfor %}
{% endblock %}

