{% extends 'html/base.html' %}
{% block title %}HSIN arhiva - slanje rješenja{% endblock %}

{% block content %}

<script type="text/javascript" src="js/data.js"></script>
<script type="text/javascript" src="js/submit.js"></script>

<h2 id="contest">Ime natjecanja</h2>
<h3 id="round">Runda</h3>

<h3 id="submission">Slanje rješenja</h3>

<table class="info">
  <tr>
    <td>Zadatak:</td>
    <td id="task">zadatak</td>
  </tr>
  <tr>
    <td>Rješenje:</td>
    <td><input type="file" id="source" />
  </tr>
  <tr>
    <td></td>
    <td><input type="button" onClick="submit();" value="Pošalji"/></td>
  </tr>
  <tr>
    <td></td>
    <td id="msg"></td>
  </tr>
</table>
{% endblock %}
