<!DOCTYPE html>

<html>

<head>
<base href="/home/mtomic/dev/zadaci/judge_generator/public_html/">
<meta charset="UTF-8"> 
<link rel="stylesheet" type="text/less" href="style.less" />
<script type="text/javascript" src="less.js"></script>
</head>

<body>

<div id="container">

<div id="nav">
  <ul>
    <li><a href="index.html">Početna</a></li>
    <li><a href="contests.html">Natjecanja</a></li>
    <li><a href="search.html">Pretraga</a></li>
    <li><a href="status.html">Aktivnost</a></li>
    <li><a href="about.html">O projektu</a></li>
  </ul>
</div>

<div id="main">
  {% block content %}{% endblock %}
</div>

</div>

</body>

</html>


