{% extends 'base.html' %}
{% block content %}
  <h2>Zadaci</h2>

  {% for name, years in contest_tree.iteritems() %}
  <h3>{{ name }}</h3>
  <table class="years">
    {% for year, _ in years.iteritems() %}
    {% if loop.index % 7 == 1 %}<tr>{% endif %}
      <td>
        <a href="contests/{{ name }}_{{ year }}.html">{{ year }}</a>
      </td>
    {% if loop.index % 7 == 0 %}</tr>{% endif %}
    {% if loop.last and loop.index % 7 != 0 %}
    {% for _ in range(7 - loop.index%7) %}
    <td>-</td>
    {% endfor %}
    </tr>
    {% endif %}
   {% endfor %}

  </table>
  {% endfor %}
{% endblock %}

